@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  display: grid;
}

.wallet-adapter-button-trigger {
  background: rgb(100, 26, 230) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust according to your font's weight range */
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* Adjust according to your font's weight range */
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 100 900;
  src: url('../public/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 100 900;
  src: url('../public/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}
